*{
    color : black;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

}
h1 , h2 {
    background-color: white;
}

h1{
    font-size: 48px;
}

.lasagna ul {
    color : grey;
}

.return {
    text-align: center;
    color : purple;
}

.home{
    height : auto;
    width : 400px;
}